---
---

@import "{{ site.theme }}";

$background-image: url("./../images/bg.png");
$background-repeat: no-repeat;
$background-size: cover;
$background-position: center;
$background-color: rgb(215, 29, 29); // Set your background color

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color;
    background-image: $background-image;
    background-repeat: $background-repeat;
    background-size: $background-size;
    background-position: $background-position;
}